
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

  
  @media screen and (max-width: 768px) {
    .box {
      img {
        vertical-align: middle;
        width: 100%;
        border-style: none;
    }
    }
.carousel-item img{
  width: 100%;


} 
  }


  
  @media screen and (max-width: 768px) {
    .service-card .card .law h3 {
      text-align: center;
      font-size: revert;
  }

  .testimonial #testi {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 0 0;
    color: #00bcd4;
    margin: 20px 0 0 0;
    background: antiquewhite;
}

.lawyer-profile .badge {
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  margin: -11px 100px;
  border-radius: 15px;
}

.lawyer-profile img {
  display: block;
  margin: auto;
  width: 100%;
}
  }